*.old
*.exe
*.pdb
/CSharp/*.dll
/VisualBasic/*.dll
/CocoRCore/bin
/CocoRCore/sample-grammars/bin
/CocoRCore/obj
/CocoRCore/sample-grammars/obj

Parser.cs
!/CocoRCore/src/Parser.cs
!/CSharp/Parser.cs
Parser.vb
!/VisualBasic/Parser.vb

Scanner.cs
!/CocoRCore/src/Scanner.cs
!/CSharp/Scanner.cs
Scanner.vb
!/VisualBasic/Scanner.vb
