*.old
*.exe
*.pdb
/CSharp/*.dll
/VisualBasic/*.dll
/CocoRCore/bin
/CocoRCore/obj

Parser.*
!/CocoRCore/Parser.cs
!/CSharp/Parser.cs
!/VisualBasic/Parser.vb

Scanner.*
!/CocoRCore/Scanner.cs
!/CSharp/Scanner.cs
!/VisualBasic/Scanner.vb
